body {
    background-color: black;
}
.logo {
    max-width: 100%;
    background-color: #365e7d;
    text-align: center;
}
nav {
    max-width: 100%;
    text-align: center;
    margin: auto;
    padding-bottom: 1%;
    padding-top: 1%;
}
.menuitem {
    display: inline;
    font-weight: bold;
    font-size: 200%;    
    margin-right: 3%;  
}
h1 {
    color: white;
}
p {
    color: white;
}
a:link, a:visited {
    color: white;
    text-decoration: none;
}
a:hover, a:focus {
    color: lightblue;    
}
#ommig {
    background-color: #365e7d;
    margin: 2%;
    width: 60.9%;
    padding: 2%;
    float: left;
}
#cvpicbox {
    width: 30.9%;
    margin: auto;
    float: left;
    text-align: center;
    clear: right;
}
#cvpic {
    padding: 10%;
    max-width: 100%;
}
#kodpicbox {
    width: 40.9%;
    margin: auto;
    float: left;
    text-align: center;
    overflow: hidden;
}
#kodpic {
    padding: 5%;
    max-width: 100%;
}
#styrkorbox {
    width: 50.9%;
    float: left;
    margin: auto;
    padding: 2%;
    background-color: #365e7d;
    clear: right;
}
#styrkorlist {
    text-align: left;
}
li {
    color: white;
}
.icons {
    width: 100%;
    background-color: #365e7d;
    text-align: center;
    margin: auto;
    float: left;
}
#github {
    padding-right: 2%;
}
footer {
    width: 100%;
    color: white;
    text-align: center;
    margin: auto;
    padding: 1% 0 1% 0;
    float: left;
}