body {
    background-color: black;
}
.logobox {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 300px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #365e7d;
}
.logopic {
  width: 275px;
  margin: auto;
}
#menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: space-around;
  -webkit-justify-content: space-around;
  -ms-flex-pack: space-around;
  justify-content: space-around;
  padding: 1% 0 1% 0;
  margin: 0;
  list-style: none;
} 
.menuitem {
   display: inline;
   font-weight: bold;
   font-size: 200%;   
}
h1 {
    font-size: 250%;
    color: white;
}
p {
    color: white;
    font-size: 24px;
}
a:link, a:visited {
    color: white;
    text-decoration: none;
}
a:hover, a:focus {
    color: lightblue;    
}
#ommigflex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: space-around;
  -webkit-justify-content: space-around;
  -ms-flex-pack: space-around;
  justify-content: space-around;
  margin: 0 0 1% 1%;
}
#ommig {
  background-color: #365e7d;
  padding: 1%;
  flex-basis: 60%;
  max-width: 100%;
}  
#cvpicbox {
  flex-basis: 35%;
  max-width: 100%;
  margin: auto;
  text-align: center;
}
#kodflex {
   display: -webkit-box;
   display: -webkit-flex;
   display: -ms-flexbox;
   display: flex;
   -webkit-flex-flow: row wrap;
   -ms-flex-flow: row wrap;
   flex-flow: row wrap;
   -webkit-box-pack: space-around;
   -webkit-justify-content: space-around;
   -ms-flex-pack: space-around;
   justify-content: space-around;
   margin-bottom: 1%;
}
#kodpicbox {  
    margin: auto;
    text-align: center;
}
#styrkorbox {
    flex-basis: 40%;
    margin: auto;
    padding: 2%;
    background-color: #365e7d;
    text-align: left;
}
#styrkorlist {
    width: 80%;
    text-align: left;
    padding: 2px;
}
.listitems {
    color: white;
    font-size: large;
    width: 97%;
    text-align: left;
    padding-bottom: 1%;
}
.iconsflex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 1%;
    background-color: #365e7d;
    text-align: center;
    margin: auto;
}
#github {
    padding-right: 2%;
}
footer {
    width: 100%;
    color: white;
    text-align: center;
    margin: auto;
    padding: 1% 0 1% 0;
    float: left;
}